/* setting css variable in file base.css */
@import "./base.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* format navbar */
.navbar {
  @apply relative flex justify-between md:items-center;
}

.nav-link {
  @apply text-[.8rem] font-semibold uppercase md:text-xs;
}

/* navscrolling */
.header-fixed {
  @apply bg-transparent;
  backdrop-filter: blur(0.3rem);
  -webkit-backdrop-filter: blur(0.3rem);
  box-shadow: 0 1px 8px rgba(0 0 0 / 0.05);
  border-bottom: 0.03rem solid rgba(0, 0, 0, 0.03);
}
/* custom scrolbar */
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 3px rgba(0 0 0 / 0.15);
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(125deg, #7126b5, #7126b5);
  border-radius: 10px;
}
.mobile-nav-enter-active,
.mobile-nav-leave-active {
  /* @apply; */
  transition: all 0.2s ease-in-out;
}
.mobile-nav-leave-to {
  @apply opacity-0;
  transform: translateY(-20px);
}
/* .mobile-nav-enter-to {
  @apply translate-y-0;
  /* transform: translateY(4px);
} */
.bg-linear {
  background: linear-gradient(90deg, #ffe9ca 63%, rgba(253, 253, 202, 0) 100%);
}
.swiper-slide {
  @apply scale-90 transition-all;
}
.swiper-slide-active {
  @apply scale-100;
}
.category-scroll::-webkit-scrollbar {
  height: 8px;
}
.card-title,
.card-location,
.card-description {
  width: 100%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}
.gradient-auth {
  background: linear-gradient(360deg, #a06ece 50%, rgba(160, 110, 206, 0) 100%);
  opacity: 0.5;
}
.swiper {
  margin: 0 !important;
}

.nav-category.router-link-active.active span,
.nav-category.router-link-active.active i {
  @apply text-indidog;
}
.is-invalid {
  @apply border border-red-700;
}

.is-invalid-feedback {
  @apply text-red-600;
}
